<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>local.bmtsmb</string>

    <key>ProgramArguments</key>
    <array>
        <string>sh</string>
        <string>-c</string>
        <string>/Users/bhaeringer/Files/code/backup-mac/bmtsmb.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>StandardErrorPath</key>
    <string>/tmp/bmtsmberr.log</string>

    <key>StandardOutPath</key>
    <string>/tmp/bmtsmb.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

</dict>
</plist>
